@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
	font-family: 'Poppins', sans-serif;
}

.btn {
	background: #ff4d6d;
	color: white;
	padding: 10px 15px;
	border-radius: 20px;
	font-weight: bold;
	text-decoration: none;
	border: none;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

.btn:hover {
	background: #ff2744;
}

h1 {
	font-size: 4em;
	font-weight: bold;
	text-align: center;
}
